extends layout

block content
  h1= 'Movie App Backend'
  p Welcome to Movie App Backend
  ul
    li
      a(href='/users') Users
    li
      a(href='/comments') Comments
    li
      a(href='/messages') Messages
    li
      a(href='/lists') Lists-
    li 
      a(href='/faqs') FAQ
    li
      a(href='/trailers') Trailers
    li
      a(href='/footers') Footer-
    li
      a(href='/medias') Medias---
    li
      a(href='/notifications') Notifications-
    li
      a(href='/categories') Categories-


